@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.topbar {
  lost-flex-container: row;
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: 1px $color-gray solid;
  &__author {
    display: none;
    &-photo {
      border-radius: 50%;
    }
   }
  &__menu {
    lost-column: 12/12;
    lost-flex-container: row;
    &-title {
      lost-column: 12/12;
      font-weight: 500;
      &-link {
        color: $color-base;
      
        &:hover,
        &:focus {
          color: $color-base;
        }
      }
    }
    &-manu {
      lost-column: 12/12;
    }
    &-description {
      color: $color-gray;
    }
  }
}

@include breakpoint-sm {
  .topbar {
    &__author {
      display: block;
      lost-column: 1/12;
    }
    &__menu {
      lost-column: 10/12;
      &-title {
        lost-column: 2/12;
      }
      &-menu {
        lost-column: 10/12;
      }
      &-description {
        lost-column: 12/12;
      }
    }
  }
}
