@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.page {
  &__body {

    &-header {
      lost-column: 12/12;
    }

    &-book {
      lost-flex-container: row;

      &-content {
        lost-column: 9/12;
      }

      &-nav {
        lost-column: 3/12;
      }
    }
  }
}